*{
    background-color: aliceblue;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.title{
    background-color: black;
    color: aliceblue;
    border-radius: 25px;
    font-size: 25px;
}

.title:hover{
    background-color: blueviolet
}
